
#arrowKeysPanel {
  display: none;
  margin-top: 30px;
}

.arrowButton {
  width: 110px;
  height: 110px;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  border: 5px solid white;
  color: white;
  background: var(--hover-color);
}
.arrowButton::before {
  content: initial;
}

.arrowButton .arrow_button {
  font-size: xx-large;
}

#arrowKeysPanelBottomRow {
  margin: 0px !important;
}

#arrowTopRowFillerButton {
  visibility: hidden;
}

